<ul class="nav nav-pills pull-right">
	<li <%= "class=active" if current_page?(root_path) %>><%= link_to "Home", root_path %></li>
	
	<% pages.each do |page| %>
		<li <%= "class=active" if current_page?(permalink(page.name)) %>><%= link_to page.title, permalink(page.name) %></li>
	<% end %>
	
	<% if user_signed_in? && current_user.has_role?(:admin) %>
		<li <%= "class=active" if current_page?(admin_path) %>><%= link_to "Admin", admin_path %></li>
		<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
	<% end %>
</ul>